.card-grid {
  display: grid;
  gap: 2rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
}

.table-grid {
  margin: auto;
  width: fit-content;
}

mat-table {
  padding: 1rem;
}

.display-mode {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin: 2rem 0;
}

.display-mode mat-icon {
  color: rgb(96, 93, 93);
}
